In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('../zomato.csv')
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [91]:
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [92]:
df.drop(columns=['res_id','establishment','url','address','latitude','longitude','zipcode','country_id','timings','currency','highlights','opentable_support','delivery','takeaway'], inplace=True,axis=1)

In [93]:
df.head()

,name,city,city_id,locality,locality_verbose,cuisines,average_cost_for_two,price_range,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,34,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,2,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,34,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,2,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,34,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,1,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,34,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,1,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,34,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,3,4.9,Excellent,470,291

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211944 entries, 0 to 211943
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   name                  211944 non-null  object
 1   city                  211944 non-null  object
 2   city_id               211944 non-null  int64
 3   locality              211944 non-null  object
 4   locality_verbose      211944 non-null  object
 5   cuisines              210553 non-null  object
 6   average_cost_for_two  211944 non-null  int64
 7   price_range           211944 non-null  int64
 8   aggregate_rating      211944 non-null  float64
 9   rating_text           211944 non-null  object
 10  votes                 211944 non-null  int64
 11  photo_count           211944 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 19.4+ MB

In [95]:
df.drop_duplicates(inplace=True)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56185 entries, 0 to 211942
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  56185 non-null  object
 1   city                  56185 non-null  object
 2   city_id               56185 non-null  int64
 3   locality              56185 non-null  object
 4   locality_verbose      56185 non-null  object
 5   cuisines              55719 non-null  object
 6   average_cost_for_two  56185 non-null  int64
 7   price_range           56185 non-null  int64
 8   aggregate_rating      56185 non-null  float64
 9   rating_text           56185 non-null  object
 10  votes                 56185 non-null  int64
 11  photo_count           56185 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 5.6+ MB

In [97]:
df.head()

,name,city,city_id,locality,locality_verbose,cuisines,average_cost_for_two,price_range,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,34,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,2,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,34,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,2,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,34,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,1,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,34,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,1,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,34,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,3,4.9,Excellent,470,291

In [98]:
df.drop(columns=['city_id','price_range'],axis=1,inplace=True)

In [99]:
df.cuisines.isna().value_counts

<bound method IndexOpsMixin.value_counts of 0         False
1         False
2         False
3         False
4         False
          ...
211882    False
211925    False
211926    False
211940    False
211942    False
Name: cuisines, Length: 56185, dtype: bool>

In [100]:
df['cuisines'].fillna("no cuisine", inplace=True)

/tmp/ipykernel_103154/3716028491.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cuisines'].fillna("no cuisine", inplace=True)

In [101]:
df

,name,city,locality,locality_verbose,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,4.9,Excellent,470,291
...,...,...,...,...,...,...,...,...,...,...
211882,Shree Janta Ice Cream,Vadodara,Manjalpur,"Manjalpur, Vadodara",Ice Cream,200,2.9,Average,4,1
211925,The Grand Thakar,Vadodara,Alkapuri,"Alkapuri, Vadodara","Gujarati, North Indian, Chinese",700,4.0,Very Good,111,38
211926,Geeta lodge,Vadodara,Alkapuri,"Alkapuri, Vadodara","Gujarati, Street Food",250,3.9,Good,207,14
211940,Raju Omlet,Vadodara,Karelibaug,"Karelibaug, Vadodara",Fast Food,300,4.1,Very Good,187,40
211942,Subway,Vadodara,Akota,"Akota, Vadodara","Fast Food, Sandwich, Salad",500,3.7,Good,128,34

In [102]:
df.cuisines.isna().value_counts()

cuisines
False    56185
Name: count, dtype: int64

In [103]:
df.drop(columns=['locality_verbose'], inplace=True)

In [104]:
df

,name,city,locality,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,Khandari,"North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,Shahganj,"Fast Food, Mithai",300,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,Civil Lines,"Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"North Indian, Continental, Italian",1000,4.9,Excellent,470,291
...,...,...,...,...,...,...,...,...,...
211882,Shree Janta Ice Cream,Vadodara,Manjalpur,Ice Cream,200,2.9,Average,4,1
211925,The Grand Thakar,Vadodara,Alkapuri,"Gujarati, North Indian, Chinese",700,4.0,Very Good,111,38
211926,Geeta lodge,Vadodara,Alkapuri,"Gujarati, Street Food",250,3.9,Good,207,14
211940,Raju Omlet,Vadodara,Karelibaug,Fast Food,300,4.1,Very Good,187,40
211942,Subway,Vadodara,Akota,"Fast Food, Sandwich, Salad",500,3.7,Good,128,34

In [105]:
df.isna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 56185 entries, 0 to 211942
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  56185 non-null  bool
 1   city                  56185 non-null  bool
 2   locality              56185 non-null  bool
 3   cuisines              56185 non-null  bool
 4   average_cost_for_two  56185 non-null  bool
 5   aggregate_rating      56185 non-null  bool
 6   rating_text           56185 non-null  bool
 7   votes                 56185 non-null  bool
 8   photo_count           56185 non-null  bool
dtypes: bool(9)
memory usage: 932.8 KB

In [106]:
df1 = df.copy()
df1.head()

,name,city,locality,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,Khandari,"North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,Shahganj,"Fast Food, Mithai",300,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,Civil Lines,"Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"North Indian, Continental, Italian",1000,4.9,Excellent,470,291

In [107]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cuisine_combinations = df1['cuisines'].values

cuisines = set()
for combination in cuisine_combinations:
    combination = str(combination)
    cuisines.update(combination.split(', '))
    
cuisines = list(cuisines)
cuisines

['Asian',
 'Cafe Food',
 'International',
 'Kashmiri',
 'Tex-Mex',
 'Bakery',
 'Steak',
 'Bohri',
 'Mediterranean',
 'Bangladeshi',
 'Cake',
 'Pizza',
 'German',
 'Fusion',
 'American',
 'Coffee',
 'Charcoal Chicken',
 'Falafel',
 'Awadhi',
 'Belgian',
 'Frozen Yogurt',
 'Spanish',
 'Cafe',
 'North Eastern',
 'Chinese',
 'BBQ',
 'Mithai',
 'Burmese',
 'Moroccan',
 'Afghan',
 'Raw Meats',
 'Hot dogs',
 'South American',
 'Pan Asian',
 'Tea',
 'Goan',
 'Italian',
 'Modern Australian',
 'Malwani',
 'South Indian',
 'Iranian',
 'Middle Eastern',
 'Lebanese',
 'Paan',
 'Mangalorean',
 'Mongolian',
 'Mughlai',
 'Rolls',
 'Konkan',
 'Salad',
 'Himachali',
 'Juices',
 'Bengali',
 'Modern Indian',
 'Beverages',
 'Naga',
 'Assamese',
 'Arabian',
 'Cuisine Varies',
 'Mishti',
 'Chettinad',
 'Coffee and Tea',
 'French',
 'Bubble Tea',
 'Turkish',
 'Ice Cream',
 'Greek',
 'Parsi',
 'Bihari',
 'Nepalese',
 'Crepes',
 'Portuguese',
 'European',
 'Irish',
 'Oriental',
 'Andhra',
 'Sandwich',
 'Afghani',
 'Indonesian',
 'Cantonese',
 'Kebab',
 'Sri Lankan',
 'Finger Food',
 'Peruvian',
 'Armenian',
 'Roast Chicken',
 'Egyptian',
 'Israeli',
 'Thai',
 'Swedish',
 'Seafood',
 'Momos',
 'Garhwali',
 'Vietnamese',
 'North Indian',
 'Poké',
 'Burger',
 'Rajasthani',
 'Fast Food',
 'Indian',
 'Grill',
 'Gujarati',
 'Vegan',
 'Drinks Only',
 'no cuisine',
 'Hyderabadi',
 'Continental',
 'African',
 'Street Food',
 'Singaporean',
 'Sushi',
 'Sindhi',
 'Mandi',
 'Tamil',
 'Panini',
 'Healthy Food',
 'Wraps',
 'Russian',
 'Tibetan',
 'Bar Food',
 'Malaysian',
 'British',
 'Brazilian',
 'Desserts',
 'Kerala',
 'Pakistani',
 'Fried Chicken',
 'Odia',
 'Mexican',
 'Biryani',
 'Maharashtrian',
 'Korean',
 'Lucknowi',
 'Japanese']

In [108]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder
label_encoder = LabelEncoder()

# Fit the LabelEncoder on all cuisines
label_encoder.fit(list(cuisines))

# Create a dictionary to store the encoded labels for each cuisine
label_encoders = {cuisine: label_encoder.transform([cuisine])[0] for cuisine in cuisines}

label_encoders

{'Asian': 7,
 'Cafe Food': 26,
 'International': 61,
 'Kashmiri': 68,
 'Tex-Mex': 126,
 'Bakery': 11,
 'Steak': 120,
 'Bohri': 19,
 'Mediterranean': 80,
 'Bangladeshi': 12,
 'Cake': 27,
 'Pizza': 103,
 'German': 49,
 'Fusion': 47,
 'American': 3,
 'Coffee': 32,
 'Charcoal Chicken': 29,
 'Falafel': 41,
 'Awadhi': 9,
 'Belgian': 14,
 'Frozen Yogurt': 46,
 'Spanish': 118,
 'Cafe': 25,
 'North Eastern': 93,
 'Chinese': 31,
 'BBQ': 10,
 'Mithai': 84,
 'Burmese': 24,
 'Moroccan': 89,
 'Afghan': 0,
 'Raw Meats': 107,
 'Hot dogs': 56,
 'South American': 116,
 'Pan Asian': 99,
 'Tea': 125,
 'Goan': 50,
 'Italian': 65,
 'Modern Australian': 85,
 'Malwani': 77,
 'South Indian': 117,
 'Iranian': 62,
 'Middle Eastern': 82,
 'Lebanese': 73,
 'Paan': 97,
 'Mangalorean': 79,
 'Mongolian': 88,
 'Mughlai': 90,
 'Rolls': 109,
 'Konkan': 71,
 'Salad': 111,
 'Himachali': 55,
 'Juices': 67,
 'Bengali': 15,
 'Modern Indian': 86,
 'Beverages': 16,
 'Naga': 91,
 'Assamese': 8,
 'Arabian': 5,
 'Cuisine Varies': 36,
 'Mishti': 83,
 'Chettinad': 30,
 'Coffee and Tea': 33,
 'French': 44,
 'Bubble Tea': 22,
 'Turkish': 129,
 'Ice Cream': 58,
 'Greek': 51,
 'Parsi': 101,
 'Bihari': 17,
 'Nepalese': 92,
 'Crepes': 35,
 'Portuguese': 105,
 'European': 40,
 'Irish': 63,
 'Oriental': 96,
 'Andhra': 4,
 'Sandwich': 112,
 'Afghani': 1,
 'Indonesian': 60,
 'Cantonese': 28,
 'Kebab': 69,
 'Sri Lankan': 119,
 'Finger Food': 43,
 'Peruvian': 102,
 'Armenian': 6,
 'Roast Chicken': 108,
 'Egyptian': 39,
 'Israeli': 64,
 'Thai': 127,
 'Swedish': 123,
 'Seafood': 113,
 'Momos': 87,
 'Garhwali': 48,
 'Vietnamese': 131,
 'North Indian': 94,
 'Poké': 104,
 'Burger': 23,
 'Rajasthani': 106,
 'Fast Food': 42,
 'Indian': 59,
 'Grill': 52,
 'Gujarati': 53,
 'Vegan': 130,
 'Drinks Only': 38,
 'no cuisine': 133,
 'Hyderabadi': 57,
 'Continental': 34,
 'African': 2,
 'Street Food': 121,
 'Singaporean': 115,
 'Sushi': 122,
 'Sindhi': 114,
 'Mandi': 78,
 'Tamil': 124,
 'Panini': 100,
 'Healthy Food': 54,
 'Wraps': 132,
 'Russian': 110,
 'Tibetan': 128,
 'Bar Food': 13,
 'Malaysian': 76,
 'British': 21,
 'Brazilian': 20,
 'Desserts': 37,
 'Kerala': 70,
 'Pakistani': 98,
 'Fried Chicken': 45,
 'Odia': 95,
 'Mexican': 81,
 'Biryani': 18,
 'Maharashtrian': 75,
 'Korean': 72,
 'Lucknowi': 74,
 'Japanese': 66}

In [109]:
# Initialize an empty list to store the encoded labels for each combination
encoded_labels = []

# Iterate over each combination in cuisine_combinations
for combination in cuisine_combinations:
    # Split the combination into individual cuisines and encode each cuisine
    combination = str(combination)
    labels = [label_encoder.transform([cuisine])[0] for cuisine in combination.split(', ')]
    
    # Append the list of encoded labels for the current combination to encoded_labels
    encoded_labels.append(labels)
    
encoded_labels

[[94, 117, 84, 121, 37],
 [94, 90, 109, 31, 42, 121],
 [42, 84],
 [37, 11, 42, 117],
 [94, 34, 65],
 [103, 42],
 [94, 42, 31, 117],
 [103, 42],
 [11, 42],
 [25, 31, 34, 65, 11, 37],
 [34, 94, 31],
 [94, 117, 84, 121, 37],
 [103, 42, 65],
 [94],
 [94, 117, 31, 11, 34],
 [103, 42],
 [94, 31, 90],
 [23, 42],
 [37, 94, 117, 31, 42, 121],
 [42, 132, 37, 16],
 [84, 31, 42, 121, 117, 11],
 [103, 42, 65],
 [94, 31, 34],
 [94],
 [94],
 [106],
 [103, 42, 65],
 [81, 65, 94],
 [103, 42],
 [94, 34, 31],
 [117, 31],
 [94],
 [84, 42, 121, 94],
 [42, 54, 112, 111],
 [94, 31, 34, 65, 103],
 [94],
 [31, 65, 34, 94],
 [94, 121, 84],
 [31, 87, 132, 23],
 [94, 117],
 [94, 90],
 [94],
 [25, 65, 31, 34, 94],
 [103, 42],
 [94, 31, 73, 34, 80, 81],
 [94, 42, 117],
 [23, 42],
 [94, 90, 109],
 [42],
 [94, 117, 42],
 [25, 65, 81, 94, 34],
 [94],
 [11],
 [23, 112, 42, 103, 109, 11],
 [94],
 [25, 65, 94, 31],
 [94, 117],
 [94, 90],
 [94, 31, 34, 42],
 [94, 31, 81, 65],
 [42, 11],
 [94, 42],
 [117],
 [94],
 [25, 94, 31],
 [121],
 [31, 127],
 [94],
 [106, 53, 90],
 [11, 42],
 [94, 16, 117, 42, 103],
 [90, 94],
 [117, 94, 31],
 [94, 117, 31, 16, 37],
 [42],
 [25],
 [94, 42, 37, 84],
 [94, 37],
 [94],
 [94, 90],
 [117, 37],
 [84, 121, 117, 31],
 [59],
 [94],
 [117, 94, 31],
 [25, 94, 31, 65, 34, 43, 42, 16],
 [25, 34, 65],
 [117],
 [94, 31, 42],
 [121],
 [84, 37],
 [42],
 [11, 37, 112, 23, 103, 42],
 [121],
 [90, 94],
 [94, 117, 40, 31, 65],
 [31],
 [94],
 [125, 42],
 [42, 65, 16, 23, 112, 103],
 [94, 31, 34],
 [94],
 [94, 31, 34],
 [43],
 [94, 90],
 [94],
 [94, 34],
 [94, 90],
 [94, 31, 34],
 [7, 40, 94, 80],
 [94, 31, 34],
 [43],
 [94, 90],
 [34, 90],
 [43],
 [94, 90],
 [94, 31, 34],
 [94, 90],
 [31],
 [43],
 [65, 94, 42, 34, 16, 7],
 [94, 31, 34, 65, 90, 42],
 [94, 31, 34],
 [94, 34],
 [94],
 [94, 31, 34],
 [94, 90],
 [43],
 [43],
 [43],
 [43],
 [43],
 [7, 117, 34, 31, 94],
 [16],
 [94, 31, 34],
 [65],
 [43],
 [43],
 [94, 31, 80],
 [11, 37],
 [94, 31, 34],
 [94, 31, 34, 90],
 [25, 31, 34, 59],
 [94, 34],
 [94, 31, 34],
 [31, 34, 42, 43, 94],
 [94, 31, 34],
 [43],
 [94, 90, 34, 31],
 [94, 31],
 [94, 31, 34],
 [94, 90, 31, 34],
 [13],
 [94, 34, 31],
 [43],
 [94, 90, 43],
 [94, 31],
 [31, 94],
 [94, 117, 31, 34],
 [25],
 [94, 31, 34],
 [94],
 [90, 69],
 [94],
 [94, 31, 34],
 [34, 94, 65],
 [7, 94, 31, 117, 65],
 [94, 34, 31],
 [94, 31, 117],
 [94, 65, 31],
 [7, 94, 31],
 [94, 31, 34],
 [94, 31, 34],
 [94, 31, 34],
 [94, 31, 34],
 [94, 34, 31],
 [94, 31, 34],
 [94, 31],
 [94],
 [94, 31, 34, 90],
 [94, 31, 34, 117],
 [94, 34, 31, 25],
 [90, 94],
 [121],
 [125],
 [84, 121],
 [37, 97],
 [94],
 [97],
 [16],
 [42, 37],
 [42, 109],
 [11],
 [54],
 [121],
 [18],
 [11],
 [67],
 [11, 25],
 [37],
 [42],
 [42, 16],
 [23],
 [121],
 [42],
 [84, 121],
 [125],
 [121],
 [87],
 [87, 121],
 [42, 11, 58, 37],
 [94],
 [42, 94],
 [94, 84],
 [84],
 [42],
 [31],
 [121],
 [42],
 [121, 67],
 [42],
 [42],
 [97],
 [94],
 [117],
 [42],
 [67],
 [16],
 [16],
 [42],
 [121],
 [11],
 [16],
 [42, 37],
 [109],
 [42, 121],
 [121],
 [84],
 [37],
 [84, 121],
 [84],
 [16, 42],
 [84],
 [37, 84],
 [94],
 [121],
 [112, 23],
 [42],
 [42],
 [97],
 [25],
 [121],
 [42, 11],
 [125],
 [84],
 [31, 42],
 [94, 31, 121],
 [97],
 [94, 16],
 [121],
 [42],
 [125, 42],
 [94],
 [67],
 [42],
 [94],
 [67],
 [42],
 [94],
 [121],
 [84],
 [121],
 [16],
 [97],
 [67],
 [84],
 [42],
 [16],
 [42],
 [16, 42],
 [25],
 [16],
 [121],
 [94, 106],
 [84, 121],
 [37, 81, 65, 42],
 [37],
 [84, 121, 117, 31],
 [84, 121, 117, 31],
 [121, 16],
 [84, 42],
 [84, 121, 117, 31],
 [94, 106, 53],
 [16, 67, 42],
 [37, 42, 121, 84],
 [42],
 [121, 42, 84, 117],
 [42, 54, 112, 111],
 [31, 94],
 [94],
 [84, 121],
 [94],
 [94, 31, 90],
 [94, 31, 34],
 [94],
 [94, 31],
 [94, 31],
 [25],
 [94, 31, 117],
 [94, 31],
 [94, 31],
 [94, 31, 34, 90],
 [94, 31, 117, 42],
 [94],
 [94, 90, 31, 34],
 [94, 31, 117],
 [94],
 [31, 37, 42, 112],
 [66, 72, 94],
 [94],
 [94, 117, 34, 42],
 [94, 31],
 [94, 31, 34],
 [90],
 [94, 31],
 [94, 42],
 [94, 117, 31],
 [25],
 [31, 127],
 [94, 31, 90, 34],
 [16, 37, 58],
 [11, 42],
 [94, 31, 34],
 [94],
 [31, 87],
 [94, 31, 34],
 [94],
 [31, 94, 117],
 [18],
 [94],
 [94],
 [94],
 [94, 42],
 [94, 90],
 [94, 13],
 [90],
 [42],
 [94],
 [42, 37],
 [59, 94],
 [42],
 [94, 90],
 [94, 31, 34, 117],
 [25],
 [106, 94],
 [94],
 [106, 94],
 [25],
 [94, 31, 34],
 [94, 31],
 [94],
 [23, 42],
 [94, 42],
 [94],
 [11],
 [94, 34, 31],
 [94, 31],
 [94, 31],
 [94, 31],
 [94],
 [94, 117, 31],
 [121],
 [94],
 [31, 34, 94],
 [94, 16, 65],
 [94],
 [42],
 [94],
 [94],
 [11],
 [11, 37],
 [42],
 [94, 31],
 [11, 37],
 [90],
 [25, 11],
 [94, 117],
 [42],
 [94, 42],
 [31],
 [84],
 [94],
 [37, 84],
 [94],
 [90, 94],
 [94],
 [94],
 [125, 121],
 [16, 23, 42, 103, 112, 132],
 [90, 0],
 [9, 31, 90, 94],
 [18, 90],
 [37],
 [42],
 [112, 16, 34],
 [94],
 [42],
 [84, 121, 42],
 [103, 42],
 [42, 103, 132, 16],
 [42],
 [94],
 [94],
 [23, 42],
 [94],
 [117, 94],
 [42, 23, 103, 112, 16],
 [94],
 [94],
 [94, 90],
 [94, 31],
 [37, 94, 117, 31, 42, 121],
 [94, 31],
 [117, 94, 121, 31, 37, 16],
 [94],
 [94, 117, 31, 37, 16],
 [94],
 [94],
 [94],
 [94, 117, 42],
 [94, 117, 31],
 [94, 117, 31, 121, 42, 16],
 [94, 117, 31, 34],
 [94, 34, 25],
 [94, 117, 34],
 [94, 117],
 [117, 31, 94],
 [117],
 [94, 34],
 [94],
 [94, 31, 34, 117],
 [94, 31, 34],
 [25, 65, 94, 31],
 [31],
 [94, 31],
 [94],
 [94],
 [94, 117, 31],
 [94, 31],
 [94, 117, 31],
 [94],
 [94, 31, 34],
 [94, 31, 34],
 [94, 90],
 [94, 31, 42, 117],
 [94, 117, 31],
 [34, 94],
 [94],
 [94, 31, 65],
 [31, 34, 117],
 [43],
 [13, 43],
 [103, 42],
 [94, 42],
 [11, 42],
 [94, 31, 117],
 [31, 117],
 [65, 42, 16],
 [42],
 [117],
 [109, 31, 87],
 [109, 42],
 [42],
 [23, 31, 109],
 [103, 42, 11],
 [112, 23, 117, 111, 16],
 [42],
 [94],
 [58, 37, 42],
 [42],
 [94, 117],
 [94],
 [42, 103, 23],
 [34, 94, 31],
 [94],
 [121, 16],
 [42, 117],
 [42, 16, 65],
 [94, 42],
 [42],
 [94, 18, 31, 109],
 [31, 117, 94, 42, 37, 16],
 [84, 94, 121, 31, 117],
 [94, 34],
 [94, 34],
 [43],
 [94],
 [43, 94],
 [43],
 [43],
 [94],
 [43],
 [43],
 [43],
 [94, 31],
 [25, 94, 90, 65, 31],
 [16, 25, 112, 42],
 [42, 16],
 [16, 25, 112, 42],
 [25],
 [25],
 [25],
 [25],
 [25, 31, 34],
 [25, 42, 31],
 [94, 31, 65, 34],
 [11],
 [16, 25, 112, 42],
 [25],
 [25],
 [25],
 [25, 94],
 [25, 11],
 [25, 65, 94, 31],
 [25, 42],
 [25, 94, 31, 34],
 [25],
 [25],
 [25],
 [94, 42],
 [42, 25, 94],
 [25],
 [37, 11],
 [58, 37, 16],
 [84, 37],
 [11, 42],
 [58],
 [11, 42],
 [58, 37, 16],
 [58],
 [37, 11, 42, 117],
 [84, 121, 42],
 [37],
 [37],
 [37],
 [58, 16, 67],
 [58, 37],
 [58, 37],
 [37],
 [37],
 [58, 16, 67],
 [84],
 [58],
 [16, 37],
 [37, 42],
 [11],
 [58],
 [58, 16, 67],
 [58],
 [84, 37],
 [37],
 [84],
 [58],
 [37],
 [11, 42],
 [11, 37],
 [11, 42],
 [11, 42],
 [11],
 [11],
 [11],
 [11],
 [11, 37],
 [11, 42],
 [11, 37, 42],
 [37, 23, 112],
 [11],
 [11, 37],
 [42],
 [42, 11],
 [11, 42],
 [42, 11],
 [11, 42],
 [42, 11],
 [11, 42],
 [42, 11],
 [11, 42],
 [11],
 [37, 11],
 [11, 42],
 [11],
 [11, 37],
 [11],
 [11],
 [11],
 [11, 42],
 [25],
 [42, 11],
 [11],
 [11, 42],
 [11],
 [11],
 [42, 37],
 [11],
 [42, 11],
 [11, 42],
 [11, 37, 42],
 [11, 42, 37],
 [121],
 [42, 11],
 [11, 42],
 [11],
 [11],
 [11, 31],
 [11],
 [11],
 [11],
 [11],
 [11],
 [11, 37],
 [11, 42],
 [11],
 [11],
 [11, 42],
 [11],
 [11, 37],
 [11],
 [11, 37],
 [11, 37],
 [11, 42],
 [11, 42],
 [11],
 [94, 117, 42],
 [94],
 [94, 37, 84],
 [94],
 [94],
 [94, 31],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94],
 [94, 31],
 [94],
 [84, 121],
 [84],
 [121, 84],
 [84],
 [84],
 [84, 121],
 [84],
 [84],
 [84],
 [84],
 [84, 42, 121],
 [84, 42, 121],
 [37],
 [84, 42],
 [84, 121],
 [84],
 [84, 37, 121],
 [84, 37],
 [84],
 [84, 121],
 [84],
 [84],
 [133],
 [84, 42],
 [84, 42],
 [84],
 [84, 121],
 [84],
 [84],
 [84, 121],
 [84],
 [84],
 [84],
 [84],
 [84, 121],
 [84, 37],
 [84, 37],
 [84, 42],
 [84],
 [121],
 [84],
 [84, 42],
 [84, 121],
 [84],
 [84],
 [84],
 [84],
 [84, 121],
 [84],
 [84, 42],
 [84],
 [37],
 [84],
 [84, 121],
 [16],
 [84],
 [84],
 [84, 42],
 [84, 121],
 [84, 121],
 [84],
 [37],
 [84, 42],
 [84],
 [37, 121, 42],
 [84],
 [84, 121],
 [84],
 [84],
 [84],
 [84],
 [84],
 [84],
 [84],
 [84],
 [84],
 [84],
 [16],
 [16, 37],
 [67],
 [16, 42],
 [16],
 [16, 67],
 [16],
 [16],
 [67],
 [16, 67],
 [67, 16],
 [16, 67, 37, 42],
 [121],
 [94, 117, 31],
 [117, 121],
 [31],
 [117],
 [42, 31],
 [18],
 [58],
 [121],
 [58],
 [58],
 [42],
 [121],
 [42],
 [121],
 [42],
 [42, 16, 37],
 [94, 42],
 [42, 121],
 [42],
 [121, 31, 109, 23],
 [18],
 [121],
 [94],
 [94],
 [94],
 [94],
 [94],
 [57, 74, 94, 108],
 [121],
 [94],
 [121],
 [74],
 [94, 42],
 [121],
 [94],
 [94],
 [121],
 [59],
 [121],
 [94],
 [94],
 [121],
 [121],
 [65, 81, 31, 94],
 [58],
 [58],
 [42, 11],
 [42],
 [84],
 [97, 37],
 [121],
 [38],
 [121],
 [11, 16, 25, 32, 42],
 [25, 65, 81, 34, 94],
 [25, 42],
 [25, 42, 87, 94, 109, 121],
 [31, 121],
 [103, 23, 42],
 [94],
 [42],
 [112, 23, 117, 111, 16],
 [84, 94],
 [94],
 [117, 94],
 [42, 34],
 [94, 31, 42],
 [121],
 [31, 34, 94],
 [117],
 [94, 117],
 [94, 31, 34, 117],
 [94, 31, 34],
 [94, 31, 34],
 [94, 16, 117, 42, 103],
 [11, 37, 112, 23, 103, 42],
 [31, 65, 34, 94],
 [94],
 [94, 31, 42],
 [34, 65],
 [81, 65, 94],
 [94, 31, 42],
 [94, 34],
 [65, 34],
 [37, 65],
 [25, 65, 94],
 [94, 42],
 [25, 3, 65, 31],
 [103, 65],
 [103, 65],
 [25, 112],
 [31, 127, 7],
 [25, 65],
 [94],
 [65, 81, 94],
 [65, 25],
 [31, 94, 65],
 [25, 37],
 [94],
 [25, 65],
 [94, 65, 10, 81, 127],
 [42, 121, 117],
 [94, 31, 34],
 [94],
 [25],
 [94, 31],
 [25, 94, 31, 16],
 [94, 31],
 [94, 53],
 [94, 65, 81],
 [103, 65],
 [25],
 [25, 65],
 [94, 31, 42],
 [94, 121, 7],
 [94, 31, 34],
 [25, 65, 34],
 [65],
 [53],
 [53],
 [94, 31],
 [103, 42],
 [94, 31],
 [25, 65],
 [65],
 [42, 31, 117],
 [90, 94, 10],
 [65, 117, 42],
 [94, 65, 42],
 [94, 117, 42, 31],
 [25],
 [65, 34],
 [94, 65],
 [94],
 [73],
 [94, 65, 34],
 [25, 65],
 [103, 65],
 [90, 31],
 [25],
 [25, 65, 40, 34],
 [37],
 [34, 94],
 [42, 16],
 [37, 11],
 [25],
 [23, 42],
 [94, 42],
 [23, 42, 16],
 [94],
 [65, 34],
 [54, 16, 65],
 [103, 65],
 [42, 112],
 [23, 42],
 [103, 42],
 [90, 94, 10],
 [25],
 [117],
 [42, 31, 117],
 [94],
 [34, 65, 31],
 [84],
 [94, 117, 42, 31],
 [75, 53],
 [103],
 [34, 42],
 [53, 94, 31],
 [23, 42],
 [103, 42],
 [103, 65],
 [121],
 [103, 42],
 [94, 31, 53],
 [34, 65, 31, 81],
 [103, 42],
 [25],
 [16, 37],
 [7, 3, 94, 53],
 [94, 34, 53],
 [31, 7],
 [34, 65, 94, 7],
 [94],
 [90, 94, 34],
 [94, 117],
 [94, 34],
 [25, 94],
 [90, 69, 94],
 [94, 65, 34],
 [40, 34],
 [94, 90],
 [34],
 [94, 10],
 [40, 86, 34, 65],
 [94, 7],
 [94, 65, 31, 34],
 [94, 31, 34],
 [94, 34],
 [4, 71, 70, 117],
 [94, 31, 34],
 [94, 90],
 [25, 16],
 [94, 90],
 [94, 34, 65],
 [94, 90, 34],
 [31, 66],
 [94, 65, 34],
 [34, 94, 16],
 [94, 117, 34, 53, 16, 121],
 [94, 31, 42],
 [7, 31],
 [25, 11, 37, 94],
 [94, 31],
 [94, 90],
 [94, 42, 117, 31],
 [94, 7, 34],
 [66, 7, 31],
 [94, 34, 81, 3, 40, 7],
 [34, 94, 31],
 [94, 31, 90, 65],
 [65, 94, 34],
 [53],
 [94, 117, 7, 34, 111],
 [7, 65, 94],
 [94, 34, 42],
 [94, 90],
 [94, 34, 31],
 [53, 106],
 [94, 25, 65, 81],
 [94, 34],
 [90, 94, 117],
 [94, 3, 40, 7],
 [31, 94, 81, 53],
 [94, 34, 90],
 [94, 42],
 [25, 94, 65, 32, 117],
 [40, 34],
 [94, 65, 34],
 [34, 94, 111],
 [94, 81, 7, 65],
 [31, 7, 122, 66, 127],
 [81, 31, 65, 127],
 [94, 65, 7],
 ...]

In [110]:
df['encoded_cuisines'] = encoded_labels

df.head()

,name,city,locality,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count,encoded_cuisines
0,Bikanervala,Agra,Khandari,"North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154,"[94, 117, 84, 121, 37]"
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161,"[94, 90, 109, 31, 42, 121]"
2,Bhagat Halwai,Agra,Shahganj,"Fast Food, Mithai",300,4.2,Very Good,801,107,"[42, 84]"
3,Bhagat Halwai,Agra,Civil Lines,"Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157,"[37, 11, 42, 117]"
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"North Indian, Continental, Italian",1000,4.9,Excellent,470,291,"[94, 34, 65]"

In [111]:
df1 = df1.drop(['name', 'city', 'locality', 'cuisines', 'rating_text'], axis=1)
df1.head()

   average_cost_for_two  aggregate_rating  votes  photo_count
0                   700               4.4    814          154
1                   600               4.4   1203          161
2                   300               4.2    801          107
3                   300               4.3    693          157
4                  1000               4.9    470          291

In [112]:
corr_matrix = df1.corr().abs()
corr_matrix

,average_cost_for_two,aggregate_rating,votes,photo_count
average_cost_for_two,1.000000,0.254679,0.273058,0.313297
aggregate_rating,0.254679,1.000000,0.284000,0.228370
votes,0.273058,0.284000,1.000000,0.691757
photo_count,0.313297,0.228370,0.691757,1.000000