In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../zomato.csv')
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [5]:
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,...,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,['Quick Bites'],https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,...,2,Rs.,"['Lunch', 'Takeaway Available', 'Credit Card',...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,['Quick Bites'],https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,...,2,Rs.,"['Delivery', 'No Alcohol Available', 'Dinner',...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,...,1,Rs.,"['No Alcohol Available', 'Dinner', 'Takeaway A...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,['Quick Bites'],https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,...,1,Rs.,"['Takeaway Available', 'Credit Card', 'Lunch',...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,['Casual Dining'],https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,...,3,Rs.,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca...",4.9,Excellent,470,291,0.0,1,-1

In [6]:
df.drop(columns=['res_id','establishment','url','address','latitude','longitude','zipcode','country_id','timings','currency','highlights','opentable_support','delivery','takeaway'], inplace=True,axis=1)

In [7]:
df.head()

,name,city,city_id,locality,locality_verbose,cuisines,average_cost_for_two,price_range,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,34,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,2,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,34,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,2,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,34,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,1,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,34,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,1,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,34,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,3,4.9,Excellent,470,291

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211944 entries, 0 to 211943
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   name                  211944 non-null  object
 1   city                  211944 non-null  object
 2   city_id               211944 non-null  int64
 3   locality              211944 non-null  object
 4   locality_verbose      211944 non-null  object
 5   cuisines              210553 non-null  object
 6   average_cost_for_two  211944 non-null  int64
 7   price_range           211944 non-null  int64
 8   aggregate_rating      211944 non-null  float64
 9   rating_text           211944 non-null  object
 10  votes                 211944 non-null  int64
 11  photo_count           211944 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 19.4+ MB

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56185 entries, 0 to 211942
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  56185 non-null  object
 1   city                  56185 non-null  object
 2   city_id               56185 non-null  int64
 3   locality              56185 non-null  object
 4   locality_verbose      56185 non-null  object
 5   cuisines              55719 non-null  object
 6   average_cost_for_two  56185 non-null  int64
 7   price_range           56185 non-null  int64
 8   aggregate_rating      56185 non-null  float64
 9   rating_text           56185 non-null  object
 10  votes                 56185 non-null  int64
 11  photo_count           56185 non-null  int64
dtypes: float64(1), int64(5), object(6)
memory usage: 5.6+ MB

In [14]:
df.head()

,name,city,city_id,locality,locality_verbose,cuisines,average_cost_for_two,price_range,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,34,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,2,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,34,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,2,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,34,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,1,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,34,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,1,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,34,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,3,4.9,Excellent,470,291

In [15]:
df.drop(columns=['city_id','price_range'],axis=1,inplace=True)

In [19]:
df.cuisines.isna().value_counts

<bound method IndexOpsMixin.value_counts of 0         False
1         False
2         False
3         False
4         False
          ...
211882    False
211925    False
211926    False
211940    False
211942    False
Name: cuisines, Length: 56185, dtype: bool>

In [21]:
df['cuisines'].fillna("no cuisine", inplace=True)

In [22]:
df

,name,city,locality,locality_verbose,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,Khandari,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,Shahganj,"Shahganj, Agra","Fast Food, Mithai",300,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,Civil Lines,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"Tajganj, Agra","North Indian, Continental, Italian",1000,4.9,Excellent,470,291
...,...,...,...,...,...,...,...,...,...,...
211882,Shree Janta Ice Cream,Vadodara,Manjalpur,"Manjalpur, Vadodara",Ice Cream,200,2.9,Average,4,1
211925,The Grand Thakar,Vadodara,Alkapuri,"Alkapuri, Vadodara","Gujarati, North Indian, Chinese",700,4.0,Very Good,111,38
211926,Geeta lodge,Vadodara,Alkapuri,"Alkapuri, Vadodara","Gujarati, Street Food",250,3.9,Good,207,14
211940,Raju Omlet,Vadodara,Karelibaug,"Karelibaug, Vadodara",Fast Food,300,4.1,Very Good,187,40
211942,Subway,Vadodara,Akota,"Akota, Vadodara","Fast Food, Sandwich, Salad",500,3.7,Good,128,34

In [23]:
df.cuisines.isna().value_counts()

cuisines
False    56185
Name: count, dtype: int64

In [25]:
df.drop(columns=['locality_verbose'], inplace=True)

In [27]:
df

,name,city,locality,cuisines,average_cost_for_two,aggregate_rating,rating_text,votes,photo_count
0,Bikanervala,Agra,Khandari,"North Indian, South Indian, Mithai, Street Foo...",700,4.4,Very Good,814,154
1,Mama Chicken Mama Franky House,Agra,Agra Cantt,"North Indian, Mughlai, Rolls, Chinese, Fast Fo...",600,4.4,Very Good,1203,161
2,Bhagat Halwai,Agra,Shahganj,"Fast Food, Mithai",300,4.2,Very Good,801,107
3,Bhagat Halwai,Agra,Civil Lines,"Desserts, Bakery, Fast Food, South Indian",300,4.3,Very Good,693,157
4,The Salt Cafe Kitchen & Bar,Agra,Tajganj,"North Indian, Continental, Italian",1000,4.9,Excellent,470,291
...,...,...,...,...,...,...,...,...,...
211882,Shree Janta Ice Cream,Vadodara,Manjalpur,Ice Cream,200,2.9,Average,4,1
211925,The Grand Thakar,Vadodara,Alkapuri,"Gujarati, North Indian, Chinese",700,4.0,Very Good,111,38
211926,Geeta lodge,Vadodara,Alkapuri,"Gujarati, Street Food",250,3.9,Good,207,14
211940,Raju Omlet,Vadodara,Karelibaug,Fast Food,300,4.1,Very Good,187,40
211942,Subway,Vadodara,Akota,"Fast Food, Sandwich, Salad",500,3.7,Good,128,34

In [29]:
df.isna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 56185 entries, 0 to 211942
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  56185 non-null  bool
 1   city                  56185 non-null  bool
 2   locality              56185 non-null  bool
 3   cuisines              56185 non-null  bool
 4   average_cost_for_two  56185 non-null  bool
 5   aggregate_rating      56185 non-null  bool
 6   rating_text           56185 non-null  bool
 7   votes                 56185 non-null  bool
 8   photo_count           56185 non-null  bool
dtypes: bool(9)
memory usage: 932.8 KB